@import "bootstrap-sprockets";
@import "bootstrap";

.well.centered {
  width: 75%;
  margin: auto;
  background-color: rgba( lightgrey, 0.85 );
}

.well.login-form {
  text-align: center;
  width: 30%;
  margin: auto;
}

.well.login-form > form > table {
  margin: auto;
}

.uploaded-images {
  max-width: 50%;
  float: left;
  margin: 5px;
}

#image_container {
  max-height: 600px;
  overflow: scroll;
}

h1 {
  text-align: center;
}

.map {
  float: right;
}